Repository Leets-Official/BOOKMARK-FE, pull requests merged in 2025-07, with the labels that each got.

#12 [feat] Global style 및 라이브러리 설정 및 파일 구조화
  src/App.tsx
  src/Router.tsx
  src/components/common/Chip.tsx
  src/components/layout/card/Card.tsx
  src/components/layout/folder/Folder.tsx
  src/components/layout/header/Header.tsx
  src/components/layout/searchBar/SearchBar.tsx
  src/globals.css
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Search.tsx
  src/pages/SignUp.tsx
  src/pages/index.tsx
  src/style.css
Labels: ⚙️ Setting, 🎨 Style, ✨Feature, 🔨 Refactor

#22 [Feat] #22 홈 화면 구현
  package-lock.json
  package.json
  src/Router.tsx
  src/assets/Icon/Delete.svg
  src/assets/Icon/Profile.svg
  src/assets/Icon/add.svg
  src/assets/Icon/detail.svg
  src/assets/Icon/filter.svg
  src/assets/Icon/folder.svg
  src/assets/Icon/home.svg
  src/assets/Icon/left.svg
  src/assets/Icon/right.svg
  src/assets/Icon/search.svg
  src/assets/index.tsx
  src/assets/react.svg
  src/assets/svg.d.ts
  src/components/common/Chip.tsx
  src/components/common/Input.tsx
  src/components/layout/header/CardListHeader.tsx
  src/components/layout/header/MobileHeader.tsx
  src/components/layout/searchBar/HomeSearchBar.tsx
  src/components/layout/searchBar/SearchBar.tsx
  src/components/layout/sidebar/SideBar.tsx
  src/components/ui/CardList.tsx
  src/components/ui/MobileCardList.tsx
  src/components/ui/card/FolderCard.tsx
  src/example/MotionExample.tsx
  src/pages/Example.tsx
  src/pages/Home.tsx
  src/pages/Save.tsx
  src/pages/SignUp.tsx
  src/pages/index.tsx
  src/style.css
  src/utils/CardPerSlide.ts
Labels: 🐛 bug, 🔧 Chore, 🎨 Style, ✨Feature

#21 [feat] #21 저장 페이지 구현
  .gitignore
  package-lock.json
  package.json
  src/Router.tsx
  src/agent/TagAgent.tsx
  src/assets/Icon/add.svg
  src/assets/icons/Add.svg
  src/assets/icons/AddAlert.svg
  src/assets/icons/BackArrow.svg
  src/assets/icons/Calendar.svg
  src/assets/icons/Delete.svg
  src/assets/icons/Detail.svg
  src/assets/icons/Filter.svg
  src/assets/icons/Folder.svg
  src/assets/icons/Home.svg
  src/assets/icons/Left.svg
  src/assets/icons/Profile.svg
  src/assets/icons/Right.svg
  src/assets/icons/Schedule.svg
  src/assets/icons/Search.svg
  src/assets/icons/Star.svg
  src/assets/icons/Trash.svg
  src/assets/index.tsx
  src/atoms.ts
  src/components/common/Chip.tsx
  src/components/common/Input.tsx
  src/components/common/Modal.tsx
  src/components/common/Textarea.tsx
  src/components/layout/header/CardListHeader.tsx
  src/components/layout/header/MobileHeader.tsx
  src/components/layout/header/SaveHeader.tsx
  src/components/layout/searchBar/HomeSearchBar.tsx
  src/components/layout/sidebar/SideBar.tsx
  src/components/ui/DropDown.tsx
  src/components/ui/TextField.tsx
  src/components/ui/card/Card.tsx
  src/components/ui/card/FolderCard.tsx
  src/contants/DummyData.tsx
  src/example/ModalExample.tsx
  src/globals.css
  src/main.tsx
  src/pages/save/Alarm.tsx
  src/pages/save/CategoryTagSelector.tsx
  src/pages/save/LinkField.tsx
  src/pages/save/Memo.tsx
  src/pages/save/Save.tsx
  src/style.css
Labels: ⚙️ Setting, 🔧 Chore, 🎨 Style, ✨Feature

#24 [refactor] : Router 구조 개선 및 home 화면에 Outlet 추가
  package-lock.json
  src/Router.tsx
  src/pages/Home.tsx
  src/pages/Save.tsx
  src/pages/index.tsx
Labels: 🔧 Chore, 🔨 Refactor

#26 [Feat] #26 홈 화면 검색창 구현
  src/assets/icons/Filtering.svg
  src/assets/icons/FixedFiltering.svg
  src/assets/icons/Search.svg
  src/assets/index.tsx
  src/atoms.ts
  src/components/common/Chip.tsx
  src/components/layout/footer/HomeFooter.tsx
  src/components/layout/header/CardListHeader.tsx
  src/components/layout/header/LatestListHeader.tsx
  src/components/layout/header/MobileHeader.tsx
  src/components/layout/searchBar/HomeSearchBar.tsx
  src/components/ui/card/FolderCard.tsx
  src/components/ui/cardlist/CardList.tsx
  src/components/ui/cardlist/MobileCardList.tsx
  src/contants/DummyData.tsx
  src/pages/Home.tsx
  src/pages/save/Alarm.tsx
  src/pages/save/CategoryTagSelector.tsx
  src/pages/save/Memo.tsx
  src/style.css
Labels: 🎨 Style, ✨Feature

#28 [Feat] #27 검색 결과 창 Card 구현
  package-lock.json
  package.json
  src/Router.tsx
  src/atoms.ts
  src/components/ui/card/CompactCard.tsx
  src/contants/DummyData.tsx
  src/pages/SearchResult.tsx
  src/pages/index.tsx
  src/pages/save/CategoryTagSelector.tsx
  src/pages/save/Save.tsx
  src/style.css
  src/types.ts
  tailwind.config.js
Labels: ⚙️ Setting, 🎨 Style, ✨Feature

#30 [Fix] #30 홈 검색 창 처리 방법 변경
  src/components/layout/footer/HomeFooter.tsx
  src/components/layout/searchBar/ChangeSearchBar.tsx
  src/components/layout/searchBar/HomeSearchBar.tsx
  src/pages/Home.tsx
Labels: 🔧 Chore, 🎨 Style

#32 [feat] TagAgent StructuredOutputParser 적용
  package-lock.json
  package.json
  src/agent/TagAgent.tsx
Labels: ⚙️ Setting, ✨Feature

#34 [feat] DropDown 합성 컴포넌트 구현
  src/components/common/Chip.tsx
  src/components/layout/dropDown/ChipDropDown.tsx
  src/components/layout/dropDown/DateTimeDropDown.tsx
  src/components/ui/DropDown.tsx
  src/components/ui/DropDown/Item.tsx
  src/components/ui/DropDown/Menu.tsx
  src/components/ui/DropDown/Trigger.tsx
  src/components/ui/DropDown/index.tsx
  src/contants/DummyData.tsx
  src/example/DropDownExample.tsx
  src/pages/SearchResult.tsx
  src/pages/save/Alarm.tsx
  src/pages/save/CategoryTagSelector.tsx
  src/pages/save/Save.tsx
  src/style.css
  src/types.ts
Labels: 🎨 Style, ✨Feature

#37 [Feat] 홈 화면 저장된 리스트 구현
  src/assets/icons/FolderDetail.svg
  src/assets/icons/Left.svg
  src/assets/icons/Profile.svg
  src/assets/icons/Right.svg
  src/assets/index.tsx
  src/components/common/Input.tsx
  src/components/layout/folder/Folder.tsx
  src/components/layout/footer/HomeFooter.tsx
  src/components/layout/header/CardListHeader.tsx
  src/components/layout/header/Header.tsx
  src/components/layout/header/HomeHeader.tsx
  src/components/layout/header/LatestListHeader.tsx
  src/components/layout/header/MobileHeader.tsx
  src/components/layout/searchBar/ChangeSearchBar.tsx
  src/components/layout/searchBar/SearchBar.tsx
  src/components/layout/sidebar/SideBar.tsx
  src/components/ui/card/FolderCard.tsx
  src/components/ui/card/SaveCard.tsx
  src/components/ui/cardlist/CardList.tsx
  src/components/ui/cardlist/MobileCardList.tsx
  src/components/ui/cardlist/SaveCardList.tsx
  src/contants/DummyData.tsx
  src/pages/Home.tsx
  src/style.css
  src/types.ts
  src/utils/GroupedCardList.ts
Labels: 🔧 Chore, 🎨 Style, ✨Feature

#41 [fix] Merge 때 일어난 오류 수정
  src/Router.tsx
  src/components/layout/searchBar/ChangeSearchBar.tsx
Labels: 🐛 bug

#15 [feat] Search 컴포넌트 구현
  package-lock.json
  src/Router.tsx
  src/assets/icons/History.svg
  src/assets/index.tsx
  src/assets/test.jpg
  src/atoms.ts
  src/components/common/Button.tsx
  src/components/common/Chip.tsx
  src/components/common/Input.tsx
  src/components/contants/DummyData.tsx
  src/components/layout/searchBar/FilterSearchBar.tsx
  src/pages/Search.tsx
Labels: 🔧 Chore, 🎨 Style, ✨Feature

#52 [Feat] #50 kakao Login
  src/App.tsx
  src/Router.tsx
  src/api/api.ts
  src/api/auth/auth_api.ts
  src/components/layout/header/HomeHeader.tsx
  src/pages/Home.tsx
  src/pages/KakaoCallBack.tsx
  src/pages/Login.tsx
  src/pages/index.tsx
Labels: 📡 API, ⚙️ Setting, ✨Feature

#54 [Feat] #53 Search History API 작업
  src/api/api.ts
  src/api/searchHistory/searchHistory_api.tsx
  src/components/layout/searchBar/FilterSearchBar.tsx
  src/pages/Search.tsx
Labels: 📡 API, ✨Feature

#58 [Feat] #57 API Helper 적용
  src/api/api.ts
  src/api/auth/auth_api.ts
  src/api/category/Category.ts
  src/api/searchHistory/searchHistory.ts
  src/api/searchHistory/searchHistory_api.tsx
  src/atoms.ts
  src/components/layout/dropDown/ChipDropDown.tsx
  src/components/layout/searchBar/FilterSearchBar.tsx
  src/components/ui/card/CompactCard.tsx
  src/components/ui/card/SaveCard.tsx
  src/contants/DummyData.tsx
  src/pages/Home.tsx
  src/pages/KakaoCallBack.tsx
  src/pages/Search.tsx
  src/pages/SearchResult.tsx
  src/types/api/auth.ts
  src/types/api/category.ts
  src/types/api/searchHistory.ts
  src/types/common/api-response.ts
  src/types/components/components.ts
  src/utils/GroupedCardList.ts
Labels: 📡 API, ⚙️ Setting, ✨Feature

#60 [Feat] #55 Category List API 연결
  src/api/bookmark/bookmark.ts
  src/api/category/Category.ts
  src/components/ui/card/FolderCard.tsx
  src/components/ui/cardList/CardList.tsx
  src/components/ui/cardList/MobileCardList.tsx
  src/components/ui/loading/Loading.tsx
  src/components/ui/modal/DeleteModal.tsx
  src/pages/Home.tsx
  src/types/api/bookmark.ts
  src/utils/GroupedCardList.ts
Labels: 📡 API, 🔧 Chore, ✨Feature

#63 [Feat] #63 알람 드롭다운 UI 수정
  package-lock.json
  package.json
  src/api/category/category.ts
  src/atoms.ts
  src/components/layout/dropDown/DateTimeDropDown.tsx
  src/components/ui/DropDown/Item.tsx
  src/components/ui/card/SaveCard.tsx
  src/components/ui/cardLink/Alarm.tsx
  src/components/ui/cardLink/CategoryTagSelector.tsx
  src/components/ui/cardList/SaveCardList.tsx
  src/components/ui/modal/AddModal.tsx
  src/constants/DummyData.tsx
  src/constants/dateTimeData.ts
  src/pages/Save.tsx
  src/pages/Search.tsx
  src/pages/SearchResult.tsx
Labels: 🔧 Chore, ✨Feature

#56 [Feat] #56 카테고리, 태그 생성 및 조회 API 구현
  package-lock.json
  src/api/category/category.ts
  src/api/tag/tag.ts
  src/atoms.ts
  src/components/layout/header/CardListHeader.tsx
  src/components/layout/header/HomeHeader.tsx
  src/components/ui/DropDown/index.tsx
  src/components/ui/card/FolderCard.tsx
  src/components/ui/card/SaveCard.tsx
  src/components/ui/cardLink/CategoryTagSelector.tsx
  src/components/ui/cardLink/LinkField.tsx
  src/components/ui/cardList/CardList.tsx
  src/components/ui/cardList/SaveCardList.tsx
  src/components/ui/modal/AddModal.tsx
  src/components/ui/modal/DeleteModal.tsx
  src/hooks/menuPosition.ts
  src/hooks/scrollLock.ts
  src/pages/MyPage.tsx
  src/pages/Save.tsx
  src/pages/Search.tsx
  src/schema/save.ts
  src/types/api/category.ts
  src/utils/ModalPortal.tsx
Labels: 📡 API, 🔧 Chore, ✨Feature

#67 [Feat] #66 MyPage 화면 구현
  package-lock.json
  package.json
  src/Router.tsx
  src/assets/icons/Setting.svg
  src/assets/index.tsx
  src/components/common/Chip.tsx
  src/components/common/Modal.tsx
  src/components/common/Toast.tsx
  src/components/layout/header/HomeHeader.tsx
  src/components/ui/TextField.tsx
  src/components/ui/card/CategoryCard.tsx
  src/components/ui/card/FolderCard.tsx
  src/components/ui/chip/TagSettingChip.tsx
  src/components/ui/modal/DeleteModal.tsx
  src/pages/MyPage.tsx
  src/pages/index.tsx
  src/pages/myPage/CategoryManagement.tsx
  src/pages/myPage/Container.tsx
  src/pages/myPage/Inquiry.tsx
  src/pages/myPage/MyPage.tsx
  src/pages/myPage/ProfileEdit.tsx
  src/utils/MenuPortal.tsx
  src/utils/ModalPortal.tsx
Labels: ⚙️ Setting, 🎨 Style, ✨Feature

#74 [Feat] #73 Search PC Page
  src/Router.tsx
  src/assets/icons/ResetButton.svg
  src/assets/index.tsx
  src/components/ui/card/SaveCard.tsx
  src/pages/Search.tsx
Labels: 🎨 Style, ✨Feature

#75 [Feat] # 카테고리/태그 생성 API 구현
  src/atoms.ts
  src/components/layout/dropDown/DateTimeDropDown.tsx
  src/components/ui/DropDown/Trigger.tsx
  src/components/ui/DropDown/index.tsx
  src/components/ui/card/SaveCard.tsx
  src/components/ui/cardLink/Alarm.tsx
  src/components/ui/cardLink/CategoryTagSelector.tsx
  src/components/ui/cardLink/LinkField.tsx
  src/components/ui/cardLink/Memo.tsx
  src/components/ui/cardLink/SaveButton.tsx
  src/components/ui/cardLink/index.tsx
  src/components/ui/modal/AddModal.tsx
  src/pages/Save.tsx
Labels: 📡 API, 🔧 Chore, 🎨 Style, ✨Feature

#77 [Fix] #76 Page Style 오류 수정
  src/App.tsx
  src/Router.tsx
  src/components/layout/footer/HomeFooter.tsx
  src/components/layout/header/HomeHeader.tsx
  src/components/layout/header/ProfileHeader.tsx
  src/components/layout/searchBar/ChangeSearchBar.tsx
  src/components/ui/HomeLogo.tsx
  src/pages/Home.tsx
  src/pages/SearchResult.tsx
  src/pages/myPage/Container.tsx
Labels: 🐛 bug, ✨Feature
